body {
  font-family: Helvetica;
  margin: 0;
}

p {
  font-family: arial;
}

.header {
  margin-bottom: 5vw;
  display: flex;
  justify-content: flex-start;
}

.main {
  padding: 106px 63% 160px 0;
  background: top 2vw right no-repeat url(img/mainimg.svg);
}

.main__title {
  margin: 0 0 40px 0;
  font: bold 66px/65px 'PT Serif', arial, helvetica, sans-serif;
  line-height: 4.5vw;
}

.main__title-text_highlight {
  background: #ecf3ff;
}

.main__subtitle {
  margin: 0 0 41px 0;
  font: 22px/21px Roboto, arial, helvetica, sans-serif;
  margin-block-start: 1.1vw;
}

.main__button {
  display: inline-block;
  font: 20px/30px Roboto, arial, helvetica, sans-serif;
  color: #fff;
  background: #0056ec;
  padding: 15px 20px;
  text-decoration: none;
  border-radius: 4px;
  transition: opacity 0.5s;
  animation-duration: 0.3s;
  animation-name: slidein;
}

.main__button:hover {
  opacity: 0.5;
  color: red;
}

@keyframes slidein {
  from {
    margin-right: 100%;
    width: 300%;
  }

  to {
    margin-right: 0%;
    width: 100%;
  }
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

.logo,
.menu {
  display: inline-block;
}

.logo {
  position: relative;
  padding: 40px 0 40px 44px;
  padding-left: 44px;
  font: bold 24px/32px 'PT Serif', arial, helvetica, sans-serif;
  margin-right: 50vw;
}

.logo__circle {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 28px;
  height: 28px;
  border-radius: 50%;
  opacity: 0.7;
}

.logo__circle_color_blue {
  left: 8px;
  top: 56%;
  background: #c8dbfb;
}

.logo__circle_color_dark-blue {
  background: #0056ec;
}

.menu {
  display: flex;
  align-items: center;
}

.menu__item {
  position: relative;
  margin-right: 26px;
  font: 700 18px/21px Roboto, arial, helvetica, sans-serif;
  color: #000;
  text-decoration: none;
  transition: opacity 0.5s;
}

.menu__item:last-child {
  margin-right: 0;
}

.menu__item_active::after {
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  left: 0;
  background: #0056ec;
  position: absolute;
}

.menu__item:hover {
  color: green;
  opacity: 0.5;
}

.menu__item::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 0;
  height: 3px;
  background: #0056ec;
  opacity: 0;
  transition: opacity 0.5s, width 0.5s;
}

.menu__item:hover::after {
  position: absolute;
  left: 0;
  display: block;
  content: '';
  width: 100%;
  height: 3px;
  background: #0056ec;
}

.menu__item:hover::after,
.menu__item_active::after {
  opacity: 1;
  width: 100%;
}

@media (max-width: 1920px) {
  .main__title {
    margin: 0px 0px 39px 195px;
  }

  .main {
    padding: 108px 62% 160px 0px;
    background: top 2vw right 10.3vw no-repeat url(img/mainimg.svg);
  }

  .main__button {
    padding: 16px 27px;
    margin: 2px 20px 0px 194px;
    font: 18px/29px Roboto, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin: 0px 91px 37px 195px;
    font: 22px/25px Roboto, arial, helvetica, sans-serif;
  }

  .logo {
    margin: 0px 958px 0px 196px;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1367px) {
  .main {
    padding: 31px 50% 180px 0;
    background: top 0.6vw left 46.4vw no-repeat url(img/1366.svg);
  }

  .main__title {
    margin: 0 0 45px 216px;
    font: bold 51px/65px 'PT Serif', arial, helvetica, sans-serif;
    line-height: 4.6vw;
  }

  .main__button {
    font: 14px/30px Roboto, arial, helvetica, sans-serif;
    padding: 8px 26px 6px 17px;
    margin: 1px 0 0 219px;
  }

  .main__subtitle {
    margin: 0 90px 41px 218px;
    font: 18px/20px Roboto, arial, helvetica, sans-serif;
    margin-block-start: 1.1vw;
  }

  .menu__item {
    position: relative;
    margin: 0 15px;
    font: 600 13px/21px Roboto, arial, helvetica, sans-serif;
  }

  .logo {
    margin: 0 404px 5px 219px;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 1024px) {
  .logo__circle {
    margin: -2px -37px;
  }

  .logo__text {
    margin: 0px -38px;
  }

  .menu__item {
    font: 500 14px/16px Roboto, arial, helvetica, sans-serif;
    margin: 12px 13px 6px 13px;
    white-space: nowrap;
  }

  .logo {
    padding-top: 40px;
    margin: 0px 453px 0px 84px;
  }

  .main {
    padding: 60px 61% 80px 0px;
    background: top 3vw right 2vw no-repeat url(img/1366.svg);
    margin: 0px 27px 0px -58px;
  }

  .main__title {
    margin: -12px -82px 39px 104px;
    font: bold 50px/66.25px 'PT Serif', arial, helvetica, sans-serif;
    line-height: 6.5vw;
  }

  .main__subtitle {
    margin: 0 -25px 39px 107px;
    font: 18px/21px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    display: inline-block;
    font: 14px/16px Roboto, arial, helvetica, sans-serif;
    padding: 14px 22px;
    margin: 0px 102px;
  }

  .hamburger-menu {
    display: none;
  }
}

@media (max-width: 768px) {
  .menu {
    display: none;
  }

  .logo__text {
    display: none;
  }

  .logo__circle {
    margin: 7px 33px;
  }

  .logo {
    margin: -9px;
  }

  .main {
    text-align: center;
    padding: 280px 80px;
    background: top 2vw right 5vw no-repeat url(img/mainimgmob.svg);
  }

  .main__title {
    margin: -12px -89px 36px 2px;
    font: bold 29px/39px PT Serif, arial, helvetica, sans-serif;
  }

  .main__subtitle {
    margin: 25px -42px 23px 46px;
    font: 500 16px/19px Roboto, arial, helvetica, sans-serif;
  }

  .main__button {
    margin: 1px -35px 0 46px;
    padding: 16px 22px;
    font: 500 14px/14px Roboto, arial, helvetica, sans-serif;
  }

  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: 0.25s;
  }

  .menu__btn > span::before {
    content: '';
    top: -8px;
  }

  .menu__btn > span::after {
    content: '';
    top: 8px;
  }

  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 174px 0;
    list-style: none;
    background-color: #fff;
    box-shadow: 1px 0 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }

  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }

  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }

  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }

  .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 10vw;
    left: 87vw;
    width: 6.8vw;
    height: 2vw;
    cursor: pointer;
    z-index: 1;
  }

  .menu__box_item {
    display: block;
    text-align: center;
    padding: 12px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
  }

  .menu__box_item:hover {
    background-color: #cfd8dc;
  }
}
